{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="{% static "main/icon/main_icon.ico" %}">    
    <title> {% block title%} {% endblock %} </title>
</head>

<body>
    <header class="d-flex justify-content-center py-3 bg-light">
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="{% url 'main' %}" class="nav-link">Главная страница</a></li>
            <li class="nav-item"><a href="{% url 'database_home' %}" class="nav-link active">Таблица</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Запросы</a></li>
        </ul>
        {% if request.user.is_authenticated %}
            <div class="col-md-3 text-end">
                <button type="button" class="btn btn-primary me-2">{{ request.user.username }}</button>
                <a href="{% url 'logout' %}"><button type="button" class="btn btn-danger">Выйти</button></a>
            </div>
        {% else %}
            <div class="col-md-3 text-end">
                <a href="{% url 'login' %}"><button type="button" class="btn btn-outline-primary me-2">Войти</button></a>
                <a href="{% url 'register' %}"><button type="button" class="btn btn-primary">Регистрация</button></a>
            </div>
        {% endif %}
    </header>

    {% block content%}

    {% endblock %}
</body>

</html>