{% extends 'main/layout.html' %}

{% block title %} Главная страница {% endblock %}

{% block content%}

<style type="text/css">
    <!--
    .container {
        margin-top: 25px;
    }
    -->
</style>

<div class="container">
    <div class="row">
        <div class="col-5 offset-1">
            <h1>Запрос</h1>
            <from action="">
                <label for="drug">Препарат</label>
                <input type="text" id="drug" class="form-control" name="city" placeholder="Введите название">
                <input type="submit" name="send" value="Узнать" class="mt-2 btn btn-primary">
            </from>
        </div>
        <div class="col-4 offset-1">
            <h1>Информация</h1>
            <div class="alert alert-primary">
                Глицин
            </div>
        </div>
    </div>
</div>

{% endblock %}