{% extends 'main/layout.html' %}

{% block title %} Главная страница {% endblock %}

{% block content%}

<style type="text/css">
    <!--
    .container {
        margin-top: 25px;
    }
    -->
</style>

<div class="container">
    <div class="row">
        <div class="col-4 offset-1">
            <h1>Поиск</h1>
            <from action="" method = 'GET'>
                <label>Препарат</label>
                <input type="text" class="form-control" name="search" placeholder="Введите название">
                <button type="submit" class="mt-2 btn btn-primary">Узнать</button>
            </from>
        </div>
        <div class="col-4 offset-1">
            <h1>Новинки</h1>
                {% for u in medicines|slice:":5" %}
                    {% if u.count > 0 %}
                        <div class="alert alert-primary">{{u.name}}: {{u.price}} ₽ | {{u.count}} шт</div>
                    {% endif %}
                {% endfor %}
        </div>
    </div>
</div>

{% endblock %}